<!DOCTYPE html>
<html lang = "ko">
<head>
    <meta charset = "UTF-8" />
    <title>Document</title>
</head>
<body>
<hr>
<button class = "DP"
        type = "button">
        DP (Data Provider)
</button>
<button class = "DC"
        type = "button">
        DC (Data Consumer)
</button>
<hr>
<img src="{{url_for('static', filename = 'img/QR.png')}}"
<br>

<br>

암호화 데이터 값 <input type="text" name"dataValue">
<br>
Key값 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input type="password" name"keyValud">

<br>
<br>
<button class = "loadimg"
        type = "button">
        이미지 불러오기
</button>
<button class = "decryption"
        type = "button">
        복호화
</body>
</html>