<!DOCTYPE html>
<html lang = "ko">
<head>
    <meta charset = "UTF-8" />
    <title>Document</title>
</head>
<body>
<hr>
<button class = "DP"
        type = "button">
        DP (Data Provider)
</button>
<button class = "DC"
        type = "button">
        DC (Data Consumer)
</button>
<hr>
<img src="{{url_for('static', filename = 'img/square.png')}}"
<br>
<img src="{{url_for('static', filename = 'img/QR.png')}}"
<br>
<br>
전달받는 DC의 ID <input type="text" name"idValue">
<br>
<br>
<br>
<button class = "loadimg"
        type = "button">
        이미지 불러오기
</button>
<button class = "encryption"
        type = "button">
        암호화
</button>
<button class = "qrTrans"
        type = "button">
        QR변환
<button class = "send"
        type = "button">
        전송
</body>
</html>