<!DOCTYPE html>
<html lang = "ko">
<head>
    <meta charset = "UTF-8" />
    <title>Document</title>
</head>
<body>
<table border = "1">
    <tr>
        <td>
            회원가입
        </td>
    </tr>
    
</table>
<hr>
UN <input type="text" name"un">
<br>
ID &nbsp; <input type="text" name"id">
<br>
PW <input type="password" name"pw">
<br>
<br>
<button class = "complete"
        type = "button">
        완료
</button>
<button class = "back"
        type = "button">
        돌아가기
</button>
</body>
</html>