<!DOCTYPE html>
<html lang = "ko">
<head>
    <meta charset = "UTF-8" />
    <title>Document</title>
</head>
<body>
<hr>
<button class = "DP"
        type = "button">
        DP (Data Provider)
</button>
<button class = "DC"
        type = "button">
        DC (Data Consumer)
</button>
<hr>
ID &nbsp; <input type="text" name"id">
<br>
PW <input type="password" name"pw">
<br>
<br>
<button class = "Login"
        type = "button">
        로그인
</button>
<button class = "Register"
        type = "button">
        회원가입
</button>
</body>
</html>